__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

.env
venv/
.env.local
*.env.*
.DS_Store

.vscode/
.idea/
*.swp

uploads/
upload/

.pytest_cache/
.coverage
htmlcov/
.cache/

build/
dist/
*.egg-info/
.eggs/

pgvector/.github/
pgvector/sql/
pgvector/src/
pgvector/test/
pgvector/Dockerfile
pgvector/Makefile
pgvector/Makefile.win
pgvector/META.json
pgvector/META.yml

*.tmp
*.bak
